/* NAVIGATION
	1. Global
		- Variables
		- Base
	2. Body
		- Icons
		- Menu Button
*/

/*** 1. GLOBAL ***/

/* Variables
   ============================= */

:root {
	--font-primary: 'Poppins', sans-serif;
	--color-dark: #011e2f;
	--color-gray: #011a27;
	--color-white: #d4fffb;
	--color-primary: #17c3b2;
}

/* Base
   ============================= */

body {
	font-family: var(--font-primary);
	background-color: var(--color-dark);
	color: var(--color-white);
}

.off-screen {
	left: -100vw;
	position: absolute;
}

/* Buttons */

button {
	background-color: var(--color-primary)!important;
	color: var(--color-dark);
}

/* Links */

a:hover {
	text-decoration: none;
}

.nav-link {
	padding: 0.5rem 0;
	position: relative;
	color: var(--color-white);
}

.nav-link:hover, .nav-link:focus {
	color: var(--color-white);
}

.nav-link:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--color-white);
	width: 0;
	height: 0.2rem;
	transition: .3s cubic-bezier(0.17, 0.67, 0, 1.01);
}

.navbar-item:hover .nav-link:before {
	width: 100%;
	background-color: var(--color-primary);
}

/* Colors */

.wave-bg {
	background-color: var(--color-primary);
}

.wave {
	color: var(--color-primary);
}

.gray-bg {
	background-color: var(--color-gray);
}

.gray {
	color: var(--color-gray);
}

.dark {
	color: var(--color-white);
}

/*** 2. BODY ***/

/* .hero {
	background-image: url('../images/studio1.jpg');
	background-size: cover;
	background-position: center;
	padding: 20rem 0;
} */

.path {
  height: 50rem;
  animation: move linear forwards;
}

@keyframes dash {
	100% {
	  stroke-dashoffset: 0;
  }
}

footer {
	background-image: url('../images/tranquil_wave.jpg');
	background-size: cover;
	background-position: bottom;
	box-shadow: 0 0 8px 8px var(--color-dark) inset;
}

/* Icons
   ============================= */

.social {
	border-radius: 50%;
	font-size: 2rem;
	background-color: var(--color-white);
	color: var(--color-dark);
}

.fa-facebook {
	padding: 0.2rem 0.8rem;
}

.fa-twitter, .fa-instagram, .fa-spotify {
	padding: 0.2rem 0.4rem;
}

/* Menu Button
   ============================= */

/* Basic */

.menubtn:hover, .menubtn:focus {
	transform: scale(1.2);
	transition: all ease 500ms;
}

svg {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path {
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
	transform-origin: 36% 40%;
}

path:nth-child(2) {
	stroke-dasharray: 29 299;
}
path:nth-child(3) {
	transform-origin: 35% 63%;
}

path:nth-child(4) {
	stroke-dasharray: 29 299;
}

path:nth-child(5) {
	transform-origin: 61% 52%;
}

path:nth-child(6) {
	transform-origin: 62% 52%;
}

/* On Click */

.active svg {
	transform: rotate(90deg);
}

.active path:nth-child(1) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
	stroke-dasharray: 225 299;
	stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
	transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
	transform: translateX(9px) translateY(1px) rotate(45deg);
}
